# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.env

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# --- ADD THESE ---

# Fastlane (If you use it for deployment)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/gc_keys.json

# Android Specific
.gradle/
local.properties
*.keystore
*.jks
/android/app/key.properties

# Flutter/Dart
pubspec.lock  # NOTE: Keep this if you are building an APP, remove if building a PACKAGE.
.packages
.metadata

# Logs and databases
*.db
*.sqlite
